[submodule "task1-Vdkk07"]
	path = task1-Vdkk07
	url = https://github.com/School-of-Solana/task1-Vdkk07
[submodule "task2-Vdkk07"]
	path = task2-Vdkk07
	url = https://github.com/School-of-Solana/task2-Vdkk07
[submodule "task3-Vdkk07"]
	path = task3-Vdkk07
	url = https://github.com/School-of-Solana/task3-Vdkk07
[submodule "task4-Vdkk07"]
	path = task4-Vdkk07
	url = https://github.com/School-of-Solana/task4-Vdkk07
[submodule "program-Vdkk07"]
	path = program-Vdkk07
	url = https://github.com/School-of-Solana/program-Vdkk07
[submodule "task5-Vdkk07"]
	path = task5-Vdkk07
	url = https://github.com/School-of-Solana/task5-Vdkk07
